@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global tweaks */
body {
  @apply bg-gray-50 text-gray-900;
}
/* For clickable table rows */
tr[data-href] {
  cursor: pointer;
}

tr[data-href]:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
